<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Please wait...</h1>
  </div>

  <div data-role="content">
    <ul id="home" selected="true" title="Wait">
      <li><%=link_to "Cancel", :action => :cancel_httpcall%></li>
      <br/><br/>
    </ul>
  </div>

</div>
