<div class="content">
  <table class="menu" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="/app/Schedule/day_schedules"><img src="/public/images/day.png"></a></td>
      <td><a href="/app/Schedule/day_schedules"><img src="/public/images/week.png"></a></td>
      <td><a href="/app/Schedule/day_schedules"><img src="/public/images/month.png"></a></td>
    </tr>
  </table>
  <form>
    <input type="button" class="standardButton" value="ログアウト"
           onclick="location.href='/app/Login/do_logout';" />
  </form>
</div>
